#front {
    position: absolute;
    left: 30px;
    top: 100px;
    z-index: -1;
}

#back {
    position: absolute;
    z-index: 1;
}

#phil {
    width: 315px;
    height:275px;
}

#phil2{
    width: 315px;
    height:275px;
}

#step2{
    position: absolute;
    top: 400px;

}